html {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  margin: 40px;
}

@import url(//fonts.googleapis.com/css?family=Pacifico);

body{
  min-height:100vh; padding-top:5rem;
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.lasvegas {
  font-family: 'Pacifico', cursive;
  margin-bottom: 50px;
  font-size:80px;
  border: none;
  color: rgba(255,255,255,0.6);
  text-align: center;
  text-shadow: 
     1px 5px 4px rgba(0,0,0,.3), 
    0 0 2px rgba(255,255,255,1), 
    0 0 10px rgba(255,255,255,1), 
    0 0 20px rgba(255,255,255,1), 
    0 0 30px rgba(255,255,255,1), 
    0 0 40px #ff00de, 
    0 0 70px #ff00de, 
    0 0 80px #ff00de,
    0 0 100px #ff00de;
    
}


.lasvegas span{
  animation: blink .3s infinite alternate;
}

.lasvegas span.delay{
  animation-duration:6s;
  animation-delay: 2s;
  animation-direction: alternate;
  /* cubic-bezier: (0.5, 0.2, 0.3, 1.0); */
}


@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #ff00de, 
      0 0 70px #ff00de, 
      0 0 80px #ff00de,
      0 0 100px #ff00de;
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255, 255, .1), 
      0 0 10px rgba(255, 255, 255, .4);
    
    text-stroke: 2px rgba(255,255,255,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,1), 
      0 0 10px rgba(255,255,255,1), 
      0 0 20px rgba(255,255,255,1), 
      0 0 30px rgba(255,255,255,1), 
      0 0 40px #ff00de, 
      0 0 70px #ff00de, 
      0 0 80px #ff00de,
      0 0 100px #ff00de;
  }
}